<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>杭州高校</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/MyCSS.css">
    <!--    引入vue-->
    <script src="js/vue.js"></script>
    <!--    引入element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    引入element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue-baidu-map"></script>
</head>
<style>
    .el-textarea__inner {
        font-size: 17px;
        height: 150px;
        resize: none;
    }

    .el-descriptions__title {
        font-size: 30px;
    }

    .desFont {
        font-size: 17px;
    }

    .desLabel {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
    }

    .avatar {
        width: 150px;
        height: 150px;
        display: block;
    }

    .bm-view {
        width: 100%;
        height: 300px;
    }
</style>

<body id="top" style="
        font-family: '等线';">
    <script>
        Vue.use(VueBaiduMap.default, {
            ak: '1YLpdgUFuoXtxMQsiFlpn9G1BYdM1mM9'
        })
            ;
    </script>
    <div id="intro">
        <div class="container">
            <header class=" align-items-center py-3 mb-4 border-bottom">

                <h1 class="top-text">杭州部分高校查询</h1>

            </header>
        </div>
        <div class="container" style="overflow-y: auto;height: 80%">

            <div class="container" style="margin-bottom: 2%">

                <el-row :glutter="20">
                    <el-col :span="4">
                        <label style="font-size: 25px">关键字检索</label>
                    </el-col>
                    <el-col :span="20">
                        <el-input placeholder="请输入内容" @input="search" v-model="keyword" class="input-with-select" value="">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                </el-row>
            </div>
            <el-row class="tac">
                <el-col :span="6">
                    <div style="height: 70%;overflow: auto">
                        <el-row>
                            <el-col :span="9"><label style="font-size: 25px">分类查找</label></el-col>
                        </el-row>
                        <el-menu default-active="" @select="handleSelect" class="el-menu-vertical-demo">
                            <el-submenu index="1">
                                <template slot="title">
                                    <i class="el-icon-reading"></i>
                                    <span>本科</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item v-for="(regular) in regulars" :key="regular.id"
                                        :index="regular.id">{{regular.title}}</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-collection"></i>
                                    <span>专科</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item v-for="(junior) in juniors" :key="junior.id"
                                        :index="junior.id">{{junior.title}}</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div style="height: 80%;overflow: auto">
                        <el-descriptions class="margin-top" :title="curTitle" :column="2" direction="vertical"
                            label-class-name="desLabel" content-class-name="desFont" v-if="isSelect" border>
                            <el-descriptions-item label="校标">
                                <span style="margin-left: 5px"><el-image :src="curDetail.image" style="width: 120px; height: 120px"></el-image></span>
                            </el-descriptions-item>
                            <el-descriptions-item label="详细地址">
                                <span style="margin-left: 5px">{{curDetail.address}}</span>
                            </el-descriptions-item>
                            <el-descriptions-item label="官网">
                                <span style="margin-left: 5px"><a :href="curDetail.website">{{curDetail.website}}</a></span>
                            </el-descriptions-item>
                            <el-descriptions-item label="成立时间">
                                <span style="margin-left: 5px">{{curDetail.date}}</span>
                            </el-descriptions-item>
                            <el-descriptions-item label="详细介绍">
                                <span style="margin-left: 5px">{{curDetail.content}}</span>
                            </el-descriptions-item>
                        </el-descriptions>
                    </div>
                </el-col>
                <el-col :span="10">
                    <!-- <label>经度：</label><input v-model.number="center.lng">
                    <label>纬度：</label><input v-model.number="center.lat">
                    <label>缩放：</label><input v-model.number="zoom">
                    <label>地区：<input v-model="location"></label> -->
                    <baidu-map :center="center" :zoom="zoom" @ready="handler" style="height: 85%;width: 86%;"
                        :scroll-wheel-zoom="true" @moving="syncCenterAndZoom" @moveend="syncCenterAndZoom"
                        @zoomend="syncCenterAndZoom">
                        <bm-geolocation anchor="BMAP_ANCHOR_BOTTOM_RIGHT" :showAddressBar="true"
                            :autoLocation="true"></bm-geolocation>
                        <bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation>
<!--                        <bm-local-search :keyword="keyword" :auto-viewport="true"-->
<!--                            :location="location"></bm-local-search>-->
                        <bm-marker v-for="(marker) in markerViewList" :id="marker.id" :position="marker.position"
                            :title="marker.title"></bm-marker>
                    </baidu-map>

                </el-col>
            </el-row>
        </div>
    </div>

</body>

</html>
<script>
    var intro = new Vue({
        el: '#intro',
        data() {
            return {
                isSelect: false,
                markerViewList: [
                ],
                regulars: [
                    {
                        id: "1",
                        position: { lng: 120.371272, lat: 30.32652 },
                        title: "中国计量大学",
                        description:{
                            address:"浙江省杭州市钱塘区下沙高教园区学源街258号",
                            website:"http://www.cjlu.edu.cn",
                            date:"1978年",
                            content:"中国计量大学（China Jiliang University），简称中量大（CJLU），是国际上唯一一所以计量命名的本科院校。坐落于浙江省杭州市，是国家市场监督管理总局与浙江省人民政府共建高校、浙江省教育厅与义乌市人民政府共建重点高校、中国质量监督检验检疫领域唯一的本科高校，入选教育部“卓越工程师教育培养计划”、“新工科研究与实践项目”、国家级大学生创新创业训练计划，为“一带一路”标准化教育与研究大学联盟牵头单位。",
                            image:"img/1.jpg"
                        }
                    },
                    {
                        id: "2",
                        position: { lng: 120.088151, lat: 30.30763 },
                        title: "浙江大学(紫金港校区)"
                    },
                    {
                        id: "3",
                        position: { lng: 119.826581, lat: 30.287112 },
                        title: '浙江大学'
                    },
                    {
                        id: '4',
                        position: { lng: 120.145771, lat: 30.293258 },
                        title: "杭州电子科技大学(文一校区)"
                    },
                    {
                        id: '5',
                        position: { lng: 120.350396, lat: 30.320321 },
                        title: "杭州电子科技大学(下沙校区)"
                    },
                    {
                        id: '6',
                        position: { lng: 120.173306, lat: 30.298765 },
                        title: "浙江工业大学(朝晖校区)"
                    },
                    {
                        id: '7',
                        position: { lng: 120.361404, lat: 30.319812 },
                        title: "浙江理工大学(下沙校区)"
                    },
                    {
                        id: '8',
                        position: { lng: 120.160812, lat: 30.177501 },
                        title: "浙江中医药大学(滨文校区)"
                    },
                    {
                        id: "9",
                        position: { lng: 120.401705, lat: 30.321583 },
                        title: "杭州师范大学(下沙校区)"
                    },
                    {
                        id: "10",
                        position: { lng: 120.395826, lat: 30.314764 },
                        title: "浙江工商大学"
                    },
                    {
                        id: "11",
                        position: { lng: 120.044354, lat: 30.362787 },
                        title: "中国美术学院(良渚校区)"
                    },
                    {
                        id: "12",
                        position: { lng: 120.033616, lat: 30.226334 },
                        title: "浙江科技学院"
                    },
                    {
                        id: "13",
                        position: { lng: 120.380526, lat: 30.320487 },
                        title: "浙江水利水电学院"
                    },
                    {
                        id: "14",
                        position: { lng: 120.401761, lat: 30.326157 },
                        title: "浙江财经大学(下沙校区)"
                    },
                    {
                        id: "15",
                        position: { lng: 120.350037, lat: 30.326583 },
                        title: "浙江传媒学院(下沙校区)"
                    },
                    {
                        id: "16",
                        position: { lng: 120.162359, lat: 30.334334 },
                        title: "浙大城市学院"
                    },
                    {
                        id: "17",
                        position: { lng: 120.166309, lat: 30.177867 },
                        title: "杭州医学院(滨江校区)"
                    },
                    {
                        id: "18",
                        position: { lng: 120.044568, lat: 30.226438 },
                        title: "浙江外国语学院"
                    },
                    {
                        id: "19",
                        position: { lng: 120.059387, lat: 30.156833 },
                        title: "浙江音乐学院"
                    },

                ],
                juniors: [
                    {
                        id: "20",
                        position: { lng: 120.094801, lat: 30.348987 },
                        title: "浙江交通职业技术学院"
                    },
                    {
                        id: "21",
                        position: { lng: 120.159341, lat: 30.181483 },
                        title: "浙江机电职业技术学院"
                    },
                    {
                        id: "22",
                        position: { lng: 120.305952, lat: 30.251047 },
                        title: "浙江建设职业技术学院"
                    },
                    {
                        id: "23",
                        position: { lng: 120.163619, lat: 30.180664 },
                        title: "浙江艺术职业学院"
                    },
                    {
                        id: "24",
                        position: { lng: 120.360366, lat: 30.327007 },
                        title: "杭州职业技术学院"
                    },
                    {
                        id: "25",
                        position: { lng: 120.207133, lat: 30.291642 },
                        title: "浙江特殊教育职业学院"
                    },
                ],
                curId: "",
                curTitle: "",
                curDetail: {},
                center: {
                    lng: 120.371272,
                    lat: 30.32652
                },
                zoom: 15,
                location: '',
                keyword: ''
            }
        },
        methods: {
            handler({ BMap, map }) {
                console.log(BMap, map)
                this.center.lng = 120.371272
                this.center.lat = 30.32652
                this.zoom = 15
            },
            handleSelect(key, keyPath) {
                console.log(keyPath);
                let t;
                if (keyPath[0] == "1") {
                    t=this.regulars[keyPath[1] - 1];
                } else if (keyPath[0] == "2") {
                    t=this.juniors[keyPath[1] - 1-this.regulars.length];
                }
                this.curDetail = t.description;
                this.keyword=t.title;
                this.curTitle=t.title;
                this.center=t.position;
                this.search();
                this.isSelect = true;
            },
            syncCenterAndZoom(e) {
                const { lng, lat } = e.target.getCenter()
                this.center.lng = lng
                this.center.lat = lat
                this.zoom = e.target.getZoom()
            },
            search() {
                this.markerViewList = []
                for (i = 0; i < this.regulars.length; i++) {
                    let t = this.regulars[i]
                    if (t.title.includes(this.keyword)) {
                        this.markerViewList.push(t)
                    }
                }
                for (i = 0; i < this.juniors.length; i++) {
                    let t = this.juniors[i]
                    if (t.title.includes(this.keyword)) {
                        this.markerViewList.push(t)
                    }
                }
            }

        }
    })


</script>