<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>杭州高校</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/MyCSS.css">
    <!--    引入vue-->
    <script src="js/vue.js"></script>
    <!--    引入element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    引入element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue-baidu-map"></script>
</head>
<style>
    .el-textarea__inner {
        font-size: 17px;
        height: 150px;
        resize: none;
    }

    .el-descriptions__title {
        font-size: 30px;
    }

    .desFont {
        font-size: 17px;
    }

    .desLabel {
        width: 100px;
        height: 50px;
        font-size: 20px;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 150px;
        height: 150px;
        line-height: 150px;
        text-align: center;
    }

    .avatar {
        width: 150px;
        height: 150px;
        display: block;
    }

    .bm-view {
        width: 100%;
        height: 300px;
    }
</style>

<body id="top" style="
        font-family: '等线';">
<script>
    Vue.use(VueBaiduMap.default, {
        ak: '1YLpdgUFuoXtxMQsiFlpn9G1BYdM1mM9'
    })
        ;
</script>
    <div id="intro">
        <div class="container">
            <header
                class=" align-items-center py-3 mb-4 border-bottom">

                <h1 class="top-text">杭州</h1>

            </header>
        </div>
        <div class="container" style="overflow-y: auto;height: 80%">

            <div class="container" style="margin-bottom: 5%">

                <el-row :glutter="20">
                    <el-col :span="4">
                        <label style="font-size: 25px">关键字检索</label>
                    </el-col>
                    <el-col :span="20">
                        <el-input placeholder="请输入内容" @input="search" v-model="keyword" class="input-with-select">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                </el-row>
            </div>
            <el-row class="tac">
                <el-col :span="6">
                    <div style="height: 70%;overflow: auto">
                        <el-row>
                            <el-col :span="9"><label style="font-size: 25px">xx景点!</label></el-col>
                        </el-row>
                        <el-menu default-active="" @select="handleSelect" class="el-menu-vertical-demo">
                            <el-submenu index="1">
                                <template slot="title">
                                    <i class="el-icon-knife-fork"></i>
                                    <span>本科</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item v-for="(regular) in regulars" :key="regular.id"
                                        :index="regular.id">{{regular.title}}</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                            <el-submenu index="2">
                                <template slot="title">
                                    <i class="el-icon-position"></i>
                                    <span>专科</span>
                                </template>
                                <el-menu-item-group>
                                    <el-menu-item v-for="(junior) in juniors" :key="junior.id"
                                        :index="junior.id">{{junior.title}}</el-menu-item>
                                </el-menu-item-group>
                            </el-submenu>
                        </el-menu>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div style="height: 90%;overflow: auto">
                    <el-descriptions class="margin-top" :title="curName" :column="1" direction="vertical" label-class-name="desLabel" content-class-name="desFont">
                        <el-descriptions-item label="简要介绍">
                            <span style="margin-left: 5px">{{curDetail}}</span>
                        </el-descriptions-item>
                    </el-descriptions>
                </div>
                </el-col>
                <el-col :span="12">
                    <label>经度：</label><input v-model.number="center.lng">
                    <label>纬度：</label><input v-model.number="center.lat">
                    <label>缩放：</label><input v-model.number="zoom">
                    <label>地区：<input v-model="location"></label>
                    <baidu-map 
                        :center="center" 
                        :zoom="zoom" 
                        @ready="handler" 
                        style="height: 95%;width: 99%;" 
                        :scroll-wheel-zoom="true"
                        @moving="syncCenterAndZoom"
                        @moveend="syncCenterAndZoom"
                        @zoomend="syncCenterAndZoom">
                        <bm-geolocation anchor="BMAP_ANCHOR_BOTTOM_RIGHT" :showAddressBar="true" :autoLocation="true"></bm-geolocation>
                        <bm-navigation anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-navigation>
                        <bm-local-search :keyword="keyword" :auto-viewport="true" :location="location"></bm-local-search>
                        <bm-marker v-for="(marker) in markerViewList" :id="marker.id" :position="marker.position"
                        :title="marker.title" :dragging="true" animation="BMAP_ANIMATION_BOUNCE"></bm-marker>
<!--                        <bm-marker id="1" :position="{lng: 120.371272, lat: 30.32652}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="中国计量大学" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="2" :position="{lng: 120.088151, lat: 30.30763}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学(紫金港校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="浙江大学" :position="{lng: 119.826581, lat: 30.287112}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="浙江大学(玉泉校区)" :position="{lng: 120.129784, lat: 30.270024}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学(玉泉校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="浙江大学(西溪校区)" :position="{lng: 120.149043, lat: 30.279944}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学(西溪校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="浙江大学(之江校区)" :position="{lng: 120.131177, lat: 30.198675}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学(之江校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="浙江大学(华家池校区)" :position="{lng: 120.20198, lat: 30.274132}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="浙江大学(华家池校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="杭州电子科技大学信息工程学院(青山湖校区)" :position="{lng: 119.832111, lat: 30.29678}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="杭州电子科技大学信息工程学院(青山湖校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
<!--                        <bm-marker id="杭州电子科技大学信息工程学院(东岳校区)" :position="{lng: 120.092064, lat: 30.255087}" :dragging="true" animation="BMAP_ANIMATION_BOUNCE" title="杭州电子科技大学信息工程学院(东岳校区)" @click="">-->
<!--                            <bm-label content="" :labelStyle="{color: 'red', fontSize : '24px'}" :offset="{width: -35, height: 30}"/>-->
<!--                        </bm-marker>-->
                        
                    </baidu-map>
                    
                    
                </el-col>
            </el-row>
        </div>
    </div>

</body>

</html>
<script>
        
    var intro = new Vue({
        el: '#intro',
        data() {
            return {
                isSelect: false,
                markerViewList:[
                ],
                regulars:[
                    {
                        id:"1",
                        position:{lng: 120.371272, lat: 30.32652},
                        title:"中国计量大学"
                    },
                    {
                        id:"2",
                        position:{lng: 120.088151, lat: 30.30763},
                        title:"浙江大学(紫金港校区)"
                    },
                    {
                        id:"3",
                        position:{lng: 119.826581, lat: 30.287112},
                        title:'浙江大学'
                    },
                    {
                        id:'4',
                        position:{lng: 120.129784, lat: 30.270024},
                        title:"浙江大学(玉泉校区)" 
                    },
                    {
                        id:'5',
                        position:{lng: 120.149043, lat: 30.279944},
                        title:"浙江大学(西溪校区)"   
                    },
                    {
                        id:'6',
                        position:{lng: 120.131177, lat: 30.198675},
                        title:"浙江大学(之江校区)"
                    },
                    {
                        id:'7',
                        position:{lng: 120.20198, lat: 30.274132},
                        title:"浙江大学(华家池校区)"
                    },
                    {
                        id:'8',
                        position:{lng: 119.832111, lat: 30.29678},
                        title:"杭州电子科技大学信息工程学院(青山湖校区)"
                    },
                    {
                        id:'9',
                        position:{lng: 120.092064, lat: 30.255087},
                        title:"杭州电子科技大学信息工程学院(东岳校区)"
                    },
                    {
                        id:'10',
                        position:{lng: 120.128076, lat: 30.303841},
                        title:"杭州电子科技大学成教学院"
                    }, 
                    {
                        id:'11',
                        position:{lng: 120.145771, lat: 30.293258},
                        title:"杭州电子科技大学(文一校区)"
                    }, 
                    {
                        id:'12',
                        position:{lng: 120.350396, lat: 30.320321},
                        title:"杭州电子科技大学(下沙校区)"
                    }, 
                    {
                        id:'13',
                        position:{lng: 120.386227, lat: 30.307495},
                        title:"杭州电子科技大学软件工程学院"
                    },
                    {
                        id:'14',
                        position:{lng: 120.046713, lat: 30.233578},
                        title:"浙江工业大学(屏峰校区)"
                    },
                    {
                        id:'15',
                        position:{lng: 120.09052, lat: 30.168759},
                        title:"浙江工业大学成教院"
                    },
                    {
                        id:'16',
                        position:{lng: 120.157606, lat: 30.187015},
                        title:"浙江工业大(国际学院)"
                    },
                    {
                        id:'17',
                        position:{lng: 120.173306, lat: 30.298765},
                        title:"浙江工业大学(朝晖校区)"
                    },
                    {
                        id:'18',
                        position:{lng: 120.163263, lat: 30.300908},
                        title:"浙江工业大学(假山校区)"
                    },
                    {
                        id:'19',
                        position:{lng: 120.297185, lat: 30.485829},
                        title:"浙江理工大学(临平校区)"
                    },
                    {
                        id:'20',
                        position:{lng: 120.350311, lat: 30.332038},
                        title:"浙江理工大学(西溪分院)"
                    },
                    {
                        id:'21',
                        position:{lng: 120.361404, lat: 30.319812},
                        title:"浙江理工大学(下沙校区)"
                    },
                    {
                        id:'22',
                        position:{lng: 120.351621, lat: 30.303157},
                        title:"浙江理工大学继续教育学院"
                    },
                    {
                        id:'23',
                        position:{lng: 119.687639, lat: 30.241012},
                        title:"浙江农林大学科技园"
                    },
                    {
                        id:'24',
                        position:{lng: 119.735224, lat: 30.243346},
                        title:"浙江农林大学天目学院(衣锦校区)"
                    },
                    {
                        id:'25',
                        position:{lng: 119.735813, lat: 30.240167},
                        title:"浙江农林大学(南校区)"
                    },
                    {
                        id:'26',
                        position:{lng: 119.735143, lat: 30.261266},
                        title:"浙江农林大学(东湖校区)"
                    },
                    {
                        id:'27',
                        position:{lng: 120.160812, lat: 30.177501},
                        title:"浙江中医药大学(滨文校区)"
                    },
                    {
                        id:'28',
                        position:{lng: 119.894257, lat: 30.090223},
                        title:"浙江中医药大学(富春校区)"
                    },
                    {
                        id:'29',
                        position:{lng: 119.894257, lat: 30.090223},
                        title:""
                    },
                ],
                juniors: [
                    


                ],
                curId: "",
                curName: "",
                curDetail: "",
                curImg: "",
                center: {
                    lng: 120.371272,
                    lat: 30.32652
                },
                zoom: 15,
                location: '',
                keyword: ''
            }
        },
        methods: {
            handler({ BMap, map }) {
                console.log(BMap, map)
                this.center.lng = 120.371272
                this.center.lat = 30.32652
                this.zoom = 15
            },
            handleSelect(key, keyPath) {
                console.log(keyPath);
                if(keyPath[0]=="1"){
                    this.curDetail=this.foods[keyPath[1]-1].description;
                }else if(keyPath[0]=="2"){
                    this.curDetail=this.scenes[keyPath[1]-1].description;
                }else if(keyPath[0]=="3"){
                    this.curDetail=this.cultures[keyPath[1]-1].description;
                }
                this.center.lng=120.371272;
                this.center.lat=30.32652;
                console.log(this.center);
                intro.isSelect = true;
            },
            syncCenterAndZoom (e) {
                const {lng, lat} = e.target.getCenter()
                this.center.lng = lng
                this.center.lat = lat
                this.zoom = e.target.getZoom()
            },
            search(){
                this.markerViewList=[]
                for(i=0;i<this.regulars.length;i++){
                    let t = this.regulars[i]
                    if(t.title.includes(this.keyword)){
                    this.markerViewList.push(t)
                    }
                }
                for(i=0;i<this.juniors.length;i++){
                    let t = this.juniors[i]
                    if(t.title.includes(this.keyword)){
                    this.markerViewList.push(t)
                    }
                }
            }

        }
    })

</script>